*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 1em 1em 3em;
  text-align: center;
}

h1,
h2,
b {
  font-weight: 500;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: inherit;
  margin-top: 1.5em;
}

section + section {
  margin-top: 1.5em;
}
